<div class="container2">
    <h2>Administrator Panel</h2>
    <table>
      <thead>
        <tr>
          <th>Cycle ID</th>
          <th>Model</th>
          <th>Stock</th>
          <th>Add Stock</th>
          <th>Remove Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cycle of newData">
          <td>{{ cycle.cycleId}}</td>
          <td>{{ cycle.cycleName}}</td>
          <td>{{ cycle.stock }}</td>
          <td><button (click)="performAction(cycle)">Add</button></td>
          <td><button (click)="performAction2(cycle)">Remove</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container1">
    <h2>Add New Cycle</h2>
    <form (submit)="submitCycle()">
      <label for="model">Model:</label>
      <input type="text" id="model" name="model" [(ngModel)]="newCycle.cycleName" required>
      <label for="stock">Stock:</label>
      <input type="number" id="stock" name="stock" [(ngModel)]="newCycle.stock" required>
      <label for="price">Price:</label>
      <input type="number" id="price" name="price" [(ngModel)]="newCycle.price" required>
      <button type="submit">Add Cycle</button>

    </form>
  </div>
  
  