/* Style the entire page */
body {
  font-family: Arial, sans-serif;
  background-color: hwb(0 100% 0%);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content at the top of the page */
  align-items: center;
  height: 100vh;
  margin-top: 100px;
}


/* Style the table */
table {
  border-collapse: collapse;
  width: 50%;
  margin-bottom: 20px;
}

/* Style table headers */
th {
  background-color: hwb(0 55% 18%);
  color: #fff;
  padding: 10px;
  text-align: left;
}

/* Style even and odd table rows */
tr:nth-child(even) {
  background-color: hsl(211, 29%, 51%);
}

/* Style table cells */
td {
  padding: 10px;
}

/* Style the "Checkout" and "Exit" buttons */
button {
  background-color: hsl(211, 29%, 51%);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color:hwb(0 55% 18%);
}

/* Style the checkout response section */
.checkout-response {
  text-align: center;
  margin-top: 20px;
}

.checkout-response h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.checkout-response p {
  font-size: 18px;
}
